/* common styles */

.open_sans_normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
  padding: 0;
  color: #1e1e1e;
}

.pr_container {
    max-width: 1140px;
    margin: 0 auto;
}

.pr_container2 {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pr_button {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #ffffff;
    background: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}

.pr_cm_title {
    font-size: 35px;
    font-weight: 600;
}

/* Header Style */

.pr_header {
    background: #FFF8F3;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: 2% 100%, right bottom;
}

.pr_logo {
    font-size: 45px;
    font-weight: 300;
    font-family: "Bitcount Grid Double", system-ui;
}

.pr_logo span {
    color: #FD6E0A;
    text-transform: uppercase;
}

/* Navigation Style */

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
}

.pr_hero_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
}

.pr_hero_left h2 {
    color: #474747;
    font-size: 45px;
    font-weight: 400;
    margin: 0;
}

.pr_hero_left h1 {
    font-size: 85px;
    font-weight: 700;
    margin: 0;
}
.pr_contact_btn {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FFFFFF;
}